<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="theme-color" content="{{ color_theme }}">

    <title>{{ nombre_app }}</title>

    {% block f7_dependencias %}
        <link rel="stylesheet" href="css/framework7.material.css">
        <link rel="stylesheet" href="css/framework7.material.colors.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/material-icons.css">
        <link rel="stylesheet" href="css/kitchen-sink.css">
        <link rel="icon" href="img/icon.png">
    {% endblock %}


</head>
<body>
  <div class="app">
    <div class="statusbar-overlay"></div>

    <div class="panel-overlay"></div>

    {% block panel_izq %}
        <div class="panel panel-left panel-cover">
            <div class="view navbar-fixed">
                <div class="pages">
                    <div data-page="panel-left" class="page">

                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="center">{{ panel_izq_titulo }}</div>
                            </div>
                        </div>

                        <div class="page-content">
                            {% block panel_izq_contenido %}
                                <div class="content-block">
                                    {% block panel_izq_contenido_encabezado %}{% endblock %}
                                </div>

                                <div class="content-block-title">
                                    {% block panel_izq_contenido_tituloBloque %}{% endblock %}
                                </div>

                                <div class="list-block">
                                    {% block panel_izq_contenido_items %}{% endblock %}
                                </div>
                            {% endblock %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block panel_der %}
        <div class="panel panel-right panel-reveal">
            <div class="view view-right">
                <div class="pages navbar-fixed">
                    <div data-page="panel-right1" class="page">

                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="center">{{ panel_der_titulo }}</div>
                            </div>
                        </div>

                        <div class="page-content">
                            {% block panel_der_contenido %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}


    <div class="views">
        <div class="view view-main">
            <div class="pages navbar-fixed">
                <div data-page="index" class="page">

                    {% block header %}
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="center">{% block titulo %}{% endblock %}</div>
                                
                                <div class="right">
                                    <a href="#" class="open-panel link icon-only">
                                        <i class="icon icon-bars"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    {% endblock %}

                    <div class="page-content">
                        {% block contenido %}{% endblock %}
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>


    {% block f7_foot %}
        <script type="text/javascript" src="js/framework7.js"></script>
        <script type="text/javascript" src="js/kitchen-sink.js"></script>
    {% endblock %}

    {% block pg_foot %}
        <script type="text/javascript" src="cordova.js"></script>

        <script type="text/javascript">
            app.initialize();
        </script>
    {% endblock %}
</body>
</html>
