<%= form_with(model: tipopersona, local: true) do |form| %>
  <% if tipopersona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipopersona.errors.count, "error") %> prohibited this tipopersona from being saved:</h2>

      <ul>
      <% tipopersona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombretipo %>
    <%= form.text_field :nombretipo, id: :tipopersona_nombretipo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
