<p id="notice"><%= notice %></p>

<h1>Tipopersonas</h1>

<table>
  <thead>
    <tr>
      <th>Nombretipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipopersonas.each do |tipopersona| %>
      <tr>
        <td><%= tipopersona.nombretipo %></td>
        <td><%= link_to 'Show', tipopersona %></td>
        <td><%= link_to 'Edit', edit_tipopersona_path(tipopersona) %></td>
        <td><%= link_to 'Destroy', tipopersona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipopersona', new_tipopersona_path %>
