<p id="notice"><%= notice %></p>

<p>
  <strong>Nombretipo:</strong>
  <%= @tipopersona.nombretipo %>
</p>

<%= link_to 'Edit', edit_tipopersona_path(@tipopersona) %> |
<%= link_to 'Back', tipopersonas_path %>
